@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
  }
  .sidebar-title {
    display: none;
  }
  #content {
    grid-area: 1 / 1 / -1 / -1;
  }
  #search {
    width: 200px;
  }
  .about-task, .task-details p{
    margin: 0;
    gap: 5px;
  }
  .task{
    padding: 10px;
  }
  .task-details h4{
    position: relative;
    top: -5px;
  }
}
@media (min-width: 768px){
    .navCloseBtn{
        display: none;
    }
}
@media screen and (max-height: 450px) {
  .sideNav {
    padding-top: 15px;
  }
}
